<!DOCTYPE html>
<html>
  <head>
    <title>User detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello <%= user.name %></h1>
    <a href="/" class="btn">return top</a>
    <a href="/logout" class="btn">logout</a>
  </body>
</html>
