<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <form action="/users/signup" method="post">
            <span class="label">name</span><input type="text" name="name" class="input" value="<%= user.name %>" required><br>
            <br>
            <span class="label">email</span><input type="email" name="email" class="input" value="<%= user.email %>" required><br>
            <br>
            <span class="label">password</span><input type="password" name="password" class="input" required><br>
            <br>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="submit">submit</button>
        </form>
        <% if (errors) { %>
            <ul class="alert">
            <% for (let i in errors) { %>
              <li><%= errors[i].msg %></li>
            <% } %>
            </ul>
        <%  } %>
        <a href="/" class="btn">return top</a>
    </body>
</html>